{% extends "base.html" %}
{% load static %}
{% block title %}Вы вышли из системы{% endblock %}


        {% block css %}
        <link rel="stylesheet" href="{% static 'pages/index.css' %}">
        {% endblock css %}


{% block content %}
<main class="main container">
    <div class="custom-center-block">
            <p class="custom-text-block">Вы вышли из своей учётной записи. Ждём вас снова!</p>
        <div class="custom-button-block">
            <button class="button button_style_blue" onclick="location.href='/'">Перейти на главную</button>
        </div>
    </div>


</main>
{% endblock content%}

