{% extends "base.html" %}
{% load static %}
{% block title %}О нас{% endblock %}


        {% block css %}
        <link rel="stylesheet" href="{% static 'pages/index.css' %}">
        {% endblock css %}


{% block content %}
<main class="main container">
    <div class="custom-center-block">
        <h2 class="single-card__section-title">О нас</h2>
    </div>

<div class="paragraph">На протяжении многих месяцев мы изучали основы бэкенд-разработки: продирались через теорию, решали задачи, бились над проектами. Фундамент заложен, пришло время возвести на нём здание — написать дипломный проект. </div>

<div class="paragraph">Мы пишем дипломный проект так, что он займёт в портфолио почётное место и его не стыдно показать джунам даже в тот день, когда мы станете тимлидами в [<em> впишите название компании</em>].</div>

<div class="paragraph">Мы создаем приложение «Продуктовый помощник»: сайт, на котором пользователи публикуют рецепты, добавляют чужие рецепты в избранное и подписываются на публикации других авторов. Сервис «Список покупок» позволяет пользователям создавать список продуктов, которые нужно купить для приготовления выбранных блюд. </div>

</main>
{% endblock content%}

